canvas {
    display: block; /* fix necessary to remove space at bottom of canvas */
   
}

body{
    margin: 0px;
    padding:0px;
    overflow: hidden;
   
  }
 
.openMenu{
    padding-top:5px;
    position:absolute; 
    left:0; 
    top:0;
    z-index:+101; 
    text-align:center;
    width:20px;
    height:100%;
}

.openMenu:hover{
    background-color:rgba(220, 220, 220, 0.658);
    color:rgb(83, 83, 83);
}

.userMenu-container{
    padding:25px;
    padding-right:10px;
    padding-top:30px;
    margin:0px;
    background-color: rgba(0, 0, 0, 0.85);
   
    color:rgb(207, 206, 206);
    border: 1px solid rgba(126, 126, 126, 0.747);
    border-right:0px;
    position: absolute;
    z-index:+100;
    right: 0%;
    top:20%;
    width:340px;
    height:75%;
    
  
    
   


    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s; 
}

.userMenu-container.off{
    height:10%;
    right: -320px;
  
}

.userMenu-wrapper {
    
    height:100%;
    overflow:scroll;
    overflow-x:hidden;
    padding-right:10px;
}

/* width */
.userMenu-wrapper::-webkit-scrollbar {
    width: 6px;
  
    position:relative;
    
    
}

/* Track */
.userMenu-wrapper::-webkit-scrollbar-track {
    background: rgb(39, 39, 39); 
    
 
}

/* Handle */
.userMenu-wrapper::-webkit-scrollbar-thumb {
    background: #555; 
   
}

/* Handle on hover */
.userMenu-wrapper::-webkit-scrollbar-thumb:hover {
    background: #888; 
}






.userMenu-block{
    display:block;
    margin-bottom:15px;
}

.userMenu-block-title{
    display:block;
    font-weight:bold;
    margin-bottom:5px;
}

.userMenu-control{
    padding-left:10px;
    display:block;
    margin-bottom:5px;
}

.userMenu-control input, .userMenu-control select {
    font-size:12px; background-color:rgb(70, 70, 70); border:0;
    height:17px;
}

.userMenu-control textarea{
    font-size:12px; background-color:rgb(70, 70, 70); border:0;
    line-height:17px;
    resize:none;
}

.userMenu-control textarea::-webkit-scrollbar {
    width: 6px;
    position:relative;
}

/* Track */
.userMenu-control textarea::-webkit-scrollbar-track {
    background: rgb(39, 39, 39); 
    
 
}

/* Handle */
.userMenu-control textarea::-webkit-scrollbar-thumb {
    background: #555; 
   
}

/* Handle on hover */
.userMenu-control textarea::-webkit-scrollbar-thumb:hover {
    background: #888; 
}

.sd-container {
    padding:25px;
    margin:10px;
    background-color: rgba(0, 0, 0, 0.85);
   
    color:rgb(207, 206, 206);
    border: 0px solid rgba(126, 126, 126, 0.747);
    position: absolute;
    z-index:+100;
    left:20%;
    top:150px;
    width:70%;
    min-height: 70%;
    display:block;

    /*box-shadow: 2px 2px 10px 2px rgb(0, 0, 0, 0.8);
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */
}

.sd-controls{
    position:absolute;
    top:0px;
    right:0px;
    padding:15px;
}
.sd-title {
    font-family:  'Quicksand', Arial;
    font-size:18pt;
    font-weight:500;
    padding-bottom:0px;
}
.sd-content{
    font-family:  'Quicksand', Arial;
    margin-top:15px;
    
}

.sd-footer{
    font-family:  'Quicksand', Arial;
    margin-top:15px;
    margin-bottom: 25px;
    position:absolute;
    bottom:0;

}

.sd-button{
    background-color: midnightblue;
    border:0px;
    padding:12px;
    color:rgb(207, 206, 206);
    display: inline-flex;
    align-items: center; 

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.sd-button:hover{
    background-color:gray;
}



/* interactive page */

.interactivePage-container {
    padding:4%;
    margin:0px;
    background-color: rgba(0, 0, 0, 1);
   
    color:rgb(207, 206, 206);
    border: 0px solid rgba(126, 126, 126, 0.747);
    position: absolute;
    z-index:+200;
    left:100%;
    top:20%;
    width:70%;
    height: 70%;
    display:block;

    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

   
}

.interactivePage-controls{
    position:absolute;
    top:0px;
    right:0px;
    padding:15px;
}
.interactivePage-header {
    font-family:  'Quicksand', Arial;
    font-size:18pt;
    font-weight:500;
    padding-bottom:0px;
}
.interactivePage-content{
    font-family:  'Quicksand', Arial;
    margin-top:15px;
    min-height:68%;
    max-height:68%;
    height:68%;
    
   
    
}


.interactivePage-footer{
    font-family:  'Quicksand', Arial;
 
    position:absolute;
    bottom:10%;

}

.interactivePage-content-grid{
    display:grid; 
    
    width:100%;
    height:100%;                                                
    grid-template-columns:60% auto;  grid-gap:20px;
    
    
}

.interactivePage-content-text{
    
    padding-right:10px;
    overflow:auto;
   
    
}


/* width */
.interactivePage-content-text::-webkit-scrollbar {
    width: 6px;
    position:relative;
}

/* Track */
.interactivePage-content-text::-webkit-scrollbar-track {
    background: rgb(39, 39, 39); 
    
 
}

/* Handle */
.interactivePage-content-text::-webkit-scrollbar-thumb {
    background: #555; 
   
}

/* Handle on hover */
.interactivePage-content-text::-webkit-scrollbar-thumb:hover {
    background: #888; 
}



.interactivePage-content-canvas{
    
    
   
   
    
}
/* finish interactive page */

.sd-interactive-button{
    width:100%;
    text-align:left;
    background-color: rgba(0, 0, 0, 0.75);
    border:0px;
    padding:12px;
    margin:10px;
    padding-left:20px;
    display:block;
    color:rgb(207, 206, 206);
    font-size: 12pt;
    font-weight:400;
    font-family:  'Quicksand', Arial;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;

}

.sd-interactive-button:hover123{
    background-color: rgba(3, 99, 0, 0.833);
    color: rgb(224, 224, 224);
    
  
}

.sd-control-button {
      border:0px;
   width:35px;
   height:35px;
   background-color:transparent;
   border: 1px solid gainsboro;
   color:rgb(207, 206, 206);
   text-align:middle;
   vertical-align: middle;
   -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}

.sd-control-button:hover{
    background-color: gainsboro !important;
    color: rgb(61, 61, 61);
}
.sd-control-button.active{
    background-color: rgb(182, 182, 182,0.85) !important;
    color:rgb(0, 0, 0);; 
}
.sd-control-button.active:hover{
    background-color:gainsboro !important;
    color: rgb(61, 61, 61);; 
}
button:focus {outline:0;}
select:focus {outline:0;}

.photoLinkButton {
    height:30px;
    width:30px;
    padding-left:8px;
    padding-top:5px;
    background-color: rgba(0, 0, 0, 0.75);
    color:rgb(207, 206, 206);
    border-radius:50%;
    position: relative;
    left:-15px;
    top:-15px;
}

.photoLinkButton:hover {
    background-color: rgb(207, 206, 206);
    color:black;
    
}


.or-card {
    padding:0px;
    margin:30px;
    background-color: #fff;
    width:250px;
    box-shadow: 0px 0px 15px 7px rgba(9, 42, 104, 0.79);
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */
}
button:focus {outline:0;}

.or-card-title{
    font-weight: bold;
    background-color: rgb(58, 58, 126);
    color:white;
    width: 100%;
    padding:5px;
    border:0px;
    -webkit-appearance: none;
    
    
}

.or-card-content{
    padding:10px;
}

.fieldname-container{
    float:left;
    margin-right:20px;
    height:34px;
    display:inline;
}

.field-container{
    height:34px;
    float:right;
    display:inline;
    width:140px;
}

.fields-container{
    display:block;
    overflow: hidden;
}


.sd-labelline {
    height: 50px;
    width :0px;
    position: relative;
    top:-84px;
    left: +23px;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
    -moz-transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg);
  }

  .sd-labeltext{
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.75);
    color:rgb(207, 206, 206);
    font-size: 10pt;
    font-weight:400;
    font-family:  'Quicksand', Arial;

    cursor: pointer;
   
    position: relative;
    padding:8px;
    top:-82px;
    left: +48px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
  }

  .sd-labeltext:hover123{
    
    background-color: rgba(3, 99, 0, 0.833);
    color: rgb(224, 224, 224);
   
  
  }

  .sd-labeltext-active{
    background-color:rgba(25, 25, 112, 0.849);
    color: rgb(224, 224, 224);
    
    left:53px;
    top:-87px;
    
    -ms-transform: scale(1.2, 1.2); /* IE 9 */
    -webkit-transform: scale(1.2, 1.2); /* Safari */
    transform: scale(1.2,1.2);
  }

  .sd-interactive-button-active{
    background-color:rgba(25, 25, 112, 0.849);
    color: rgb(224, 224, 224);
    
  }







  .slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;  
    background: #e7e7e7;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: rgb(120, 120, 168);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(120, 120, 168);
    cursor: pointer;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus{
    background-color:rgb(81, 81, 161);
    border-color: rgb(81, 81, 161);
}





/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
    vertical-align:middle;
    margin-bottom:0px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .switchslider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(70,70,70);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switchslider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 3px;
    bottom: 3px;
    background-color: gainsboro;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .switchslider {
    background-color: rgb(81, 81, 161);
  }
  
  input:focus + .switchslider {
    box-shadow: 0 0 1px rgb(81, 81, 161);
  }
  
  input:checked + .switchslider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15x);
    transform: translateX(15px);
  }
  
  /* Rounded sliders */
  .switchslider.round {
    border-radius: 2px;
  }
  
  .switchslider.round:before {
    border-radius: 2px;
  }


  /* logo containers */

  .logo-container{
    display: inline-block;
    background-color:white;
    padding:0px;
    margin-left:3px;
    margin-top:0px;

    /* box-shadow: 4px 4px 10px 2px rgb(0, 0, 0, 0.8); */
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */
    
  }


.poi-parent {
    position:absolute;
    
    
 
    }




  
  .poi-arrow{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid rgb(0,0,0,0.75);
    position:absolute;
    top:-15px;
    left: -10px;
    z-index:2;

   
  }
  
  .poi-label{
    background-color:rgb(0,0,0,0.75);
    color:transparent;
    height:30px;
    width:30px;
    border-radius:15px;
    position:absolute;
    left:-15px;
    top:-41px;
    font-family:  'Quicksand', Arial;
    padding: 5px 15px 5px 15px;
    font-size:10pt;
    overflow: hidden;
    white-space: nowrap;
    z-index:2;
    
  }

  .poi-label:hover{
    background-color:rgb(0,0,0,0.75);
    color: rgb(207, 206, 206);
    z-index:6;
    width:auto;
    
  
    cursor:context-menu;
  
  }

  .poi-arrow:hover ~ .poi-label {
    background-color:rgb(0,0,0,0.85);
    color: rgb(207, 206, 206);
      height:30px;
      width:auto;
      border-radius:15px;
     
      cursor:context-menu;
      z-index:6;
  }

  .hidefordemo{
      display:none !important;
  }
  

  .tooltiptext {
      background: rgba(255, 255, 255, 0.692);
      color:rgb(42, 42, 75);
      position: absolute;
      z-index:+200;
      width:150px;
      height: 150px;
      padding:30px;
      left:-150px;
      top:-140px;
      border-radius: 50%;
      display: inline-flex;
    align-items: center; 
  }

  .tooltipcircle {
    background: rgba(255, 255, 255, 0.692);
    position: absolute;
    top:-20px;
    left:-20px;
   width:50px;
   height:50px;
   border-radius: 50%;
}

.pointsTable_table {
    
   
    width:100%;

}

.pointsTable_th, .pointsTable_td  {
  font-size:12px;
  padding:3px;
  border-bottom: 1px solid gray;

}



.movieControlButton{
    
    padding:0px 0px 0px 0px;  
    height:18px;
    width:18px;
    font-size:10px;
    background-color:transparent;
    border: 1px solid gainsboro;
    color:rgb(207, 206, 206);
    text-align:middle;
    vertical-align: middle;
    -webkit-transition-duration: 0.4s; /* Safari */
     transition-duration: 0.4s;
}

.movieControlButton:hover:enabled{
    background-color: gainsboro !important;
    color: rgb(61, 61, 61);
}

.movieControlButton:disabled{
    border: 1px solid rgb(112, 112, 112);
    color: rgb(112, 112, 112);
}

.movieControlWrapper{
    background-color:rgba(48, 48, 48, 0.644);
    padding:10px;
    margin-bottom:10px;
}

.movieData {
    padding-right:5px;

}

.subtitle{
    padding:25px;
    margin:0px;
    background-color: rgba(0, 0, 0, 0.85);
    font-family:  'Quicksand', Arial;
    font-weight:500;
    opacity: 0;
    visibility: hidden;
    color:rgb(207, 206, 206);
    /*border: 1px solid rgba(126, 126, 126, 0.747);*/
    
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}
.subtitle.on{
    visibility: visible;
   opacity: 1;
}

.hideMe{
    display:none;
}

.loadingOn{
    transition: visibility 0s 4s,z-index 0s 4s, opacity 4s ease-in;
    opacity:1;
    visibility:visible;
    z-index:+1000; 
    
}

.loadingOff{
   
    opacity:0;
    visibility:hidden;
    z-index:-1;
}

*{
    user-select: none;
}

/* progress */

.barContainer {
  
    border: 1px solid white;
    width:50vw;
    height:10px;
    
}

.barLine {
    background: rgba(255, 255, 255, 0.808); 
       
    height:100%;
    

}

.userPlace {
    position: absolute;
    z-index: +6;
  
    


}






.userPlace_arrow{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #57b7be;
    position:absolute;
    top:-15px;
    left: -10px;
    
   

   
  }
  
  .userPlace_data{
    background-color:#57b7be;
    color:transparent;
    height:30px;
    width:30px;
    border-radius:15px;
    position:absolute;
    left:-15px;
    bottom:12px;
    font-family:  'Quicksand', Arial;
    padding: 5px 15px 5px 15px;
    font-size:10pt;
  
    white-space: nowrap;
    
    
    
  }

  .userPlace_data:hover{
    background-color:#57b7be;
    color: rgb(255, 255, 255);
    font-weight:400;
    z-index:10;
    width:auto;
    
  
    cursor:context-menu;
  
  }

  .userPlace_notes{
    font-size:12px;
    padding-top:10px;
    font-style:italic;
    background:transparent;
    border:0px;
    display:none;
    width:auto;
    border-radius:4px;
    width:150px;
    height:120px;
    padding:5px;
    margin-bottom:5px;
     
}



.userPlace_name{
    font-size:14px;
    font-weight:700;
    background:transparent;
    border:0px;
    width:150px;
    display:none;
    border-radius:4px;
    margin-bottom:3px;
    margin-top:5px;
    padding:5px;
    
    
}

.userPlace_label{
    font-size:14px;
    font-weight:700;
    background:transparent;
    border:0px;
    width:auto;
    
    
}

.userPlace_editbtn {
    display:none;
}

.userPlace_closebtn {
    display:none;
}

.userPlace_data.expand {
    background-color:#57b7be;
    color: rgb(255, 255, 255);
    font-weight:400;
    z-index:7;
    width:auto;
    height:auto;
}
.userPlace_data.expand>.userPlace_notes {
    display:block;
    
}

.userPlace_data.expand>.userPlace_name {
    display:block;
    
}
.userPlace_data.expand>.userPlace_label {
    display:none;
    
}



.userPlace_data.expand>.userPlace_editbtn{
    display:inline-block;
    position:absolute;
    font-size:14px;
    line-height:20px;
    vertical-align: middle;
    text-align:middle;
    right:-8px;
    bottom:-12px;
    padding:0px;
    width:20px;
    height:20px;
    background:#bbebee;
    color:rgb(44,44,44);
    border:0px;
    border-radius:50%;
    
}

.userPlace_data.expand>.userPlace_closebtn{
    display:inline-block;
    position:absolute;
    font-size:14px;
    line-height:20px;
    vertical-align: middle;
    text-align:middle;
    right:-8px;
    top:-12px;
    padding:0px;
    width:20px;
    height:20px;
    background:#bbebee;
    color:rgb(44,44,44);
    border:0px;
    border-radius:50%;
   
}

.userPlace_name.onEdit {
    background: #a0b2b3;
}

.userPlace_notes.onEdit {
    background: #a0b2b3;
}

.userPlace_name.onEdit:hover {
    background: #b9d0d1;
}

.userPlace_notes.onEdit:hover {
    background: #b9d0d1;
}